@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');
:root{
  --clr-text: #21B7E2;
}
body{
  font-family: "Grandstander";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
header{
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--clr-text);
      font-size: 35px;
    }
    .nav-links{
      display: flex;
      justify-content: center;
      gap: 42px;
      li a{
        font-size: 22px;
        font-weight: normal;
        &:focus{
          font-weight: bold;
        }
      }
    }
  }
}
